#macOSFile
**/.DS_Store

# Hugo Blowfish theme files
**/Blowfish_files
**blowfish.html
**/public

# Terraform Variable File
variables.tf

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Terraform Providers, State and Lock files
**./terraform/providers
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
